[submodule "IHM-UX"]
	path = IHM-UX
	url = git@github.com:KwikKill/IHM-UX.git
[submodule "Repro"]
	path = Repro
	url = git@github.com:TheBloodMan49/S9-Reproductibility-of-experimentations.git
[submodule "DSL"]
	path = DSL
	url = git@github.com:TheBloodMan49/S9-DSL-CLIvilization.git
[submodule "SFFS/project"]
	path = SFFS/project
	url = git@github.com:Sironysos/INSA-S9-SFFS-Grafana.git
[submodule "DevOps/project"]
	path = DevOps/project
	url = ssh://git@gitlab.insa-rennes.fr:16022/devops-2025/devops_mohamed-allay_paul-gasnier_kevin-tollemer.git
